language: node_js
node_js:
  - "0.10"
  - "0.12"
script: "npm test"
before_script:
  - "./test/hosts.sh"
before_install:
 - sudo apt-get update -qq
 - sudo apt-get install -qq graphicsmagick
notifications:
 irc:
   channels:
     - "chat.freenode.net#pump.io"
   on_success: change
   on_failure: change
