.span12.account

  legend Account

  form#account-email

    fieldset

      .clearfix
        label Username
        .input
          span.uneditable-input= principalUser.nickname
          span.help-block The name you log in with (unchangeable!)

      if config.haveEmail
        .clearfix
          label Email
          ul.list-group
            if principalUser.email_pending
              li.list-group-item= principalUser.email_pending
                span.label.label-warning Unverified
                span.pull-right
                  span Verification email sent.
                    a#email-resend(href="#") Resend
                  button.btn.btn-mini.btn-danger(type="button")
                    i.fa.fa-times#email-cancel
            if principalUser.email
              li.list-group-item= principalUser.email
                span.label.label-success Enabled

          .input
            input.span6#email(type="email",
            name="email", size="16", placeholder="Your new email address")
            span.help-block For updates and password recovery

        .actions
          input.btn.btn-primary(type="submit", value="Change email")

  form#account-password

    fieldset

      .clearfix
        label New password
        .input
          input.span6#password(name="password", size="30", type="password")
          span.help-block Eight characters, mixed letters and numbers, not stupid

      .clearfix
        label Confirm new password
        .input
          input.span6#repeat(name="repeat", size="30", type="password")
          span.help-block Check your typing

      .actions
        input.btn.btn-primary(type="submit", value="Change password")
