<p><%- principal.displayName %>,</p>

<p><%= activity.content %></p>

<% if (activity.verb == "post") { %>
<blockquote><a href="<%- activity.object.url %>"><%- activity.object.displayName || activity.object.objectType %></a></blockquote>
<% } else { %>
<blockquote><a href="<%- activity.url %>">more information</a></blockquote>
<% } %>

<p>If you think you received this email in error, you can safely ignore it.</p>
