#modal-are-you-sure.modal.pump-modal.hide.fade(tabindex="-1", role="dialog", aria-labelledby="post-label", aria-hidden="true")
  .modal-body
    p= question

  .modal-footer
    button.btn.btn-primary#yes(type="button") Yes
    button.btn#no(type="button") No
