<h1>Authorization Complete</h1> 

<p>
Your authorization is complete, but the program you are using does not
take the authorization tokens directly. Check the program or service&apos;s
documentation for details on how to input these 
</p>

<table>            
  <tr><td>Token</td><td id="token"><%- token %></td></tr>    
  <tr><td>Verifier</td><td id="verifier"><%- verifier %></td></tr>    
</table>

