h1 Authorize

p You are logged in as #[strong#username= principalUser.nickname].

p Do you want to authorize #[em= application.title] to access your account?

p Applications with access to your account can:
  ul
    li Post new activities as you
    li Read your social graph (followers, following, list)
    li Change your profile

form#authorize(method="post")
  input#oauth_token(type="hidden", name="oauth_token", value=token)
  input#verifier(type="hidden", name="verifier", value=verifier)
  input.btn.btn-primary#authorize(type="submit" value="Authorize")
