<div class="media comment-form">
  <span class="pull-left">
    <% if (principal.image && principal.image.url) { %>
    <img src="<%- principal.image.url %>" width="32" height="32" class="img-rounded" />
    <% } else { %>
    <img src="/images/default.png" width="32" height="32" class="img-rounded" />
    <% } %>
  </span>
  <div class="media-body">
    <form class="post-comment">
      <fieldset>
        <div class="control-group">
          <div class="controls">
            <textarea class="span5" name="content" rows="6"></textarea>
          </div>
        </div>
        <div class="control-group">
          <div class="controls">
            <button type="submit" class="btn btn-primary">Comment</button>
          </div>
        </div>
      </fieldset>
    </form>
  </div>
</div>
