.media.comment-form
  span.pull-left
    if principal.image && principal.image.url
      img.img-rounded(src=principal.image.url, width="32", height="32")
    else
      img.img-rounded(src="/images/default.png", width="32", height="32")

  .media-body
    form.post-comment
      fieldset
        .control-group
          .controls
            textarea.span5(name="content", rows="6")

        .control-group
          .controls
            button.btn.btn-primary(type="submit") Comment
            button.btn.btn-default.close-btn Close
