<h1>Check your email for further instructions</h1>

<p>Your registration is complete. Instructions for enabling your
account have been sent to your email address. Check your inbox and
spam filter.</p>

