Welcome to <%= config.site %>, <%= principal.displayName %>!

You have signed up for <%= config.site %>. To confirm this email address, click on the link below:

    <%= confirmationURL %>

If you think you received this email in error, you can safely ignore it.



