ul.nav.pull-right
  li.dropdown#fat-menu
    a.dropdown-toggle#profile-dropdown(href="#", role="button", data-toggle="dropdown")
      b.caret

    ul.dropdown-menu.pull-right(role="menu", aria-labelledby="profile-dropdown")
      li.muted
        a.delete-object(tabindex="-1", href="#")
          small Delete
