.user.user-following
  .row
    .span12
      include ./profile-block.jade

  .row
    .span12
      include ./lib/profile-nav.jade

  .row
    .span12#user-content
      include ./user-content-following.jade
