
.lightbox.hide.fade#fullImageLightbox(tabindex="-1", role="dialog", aria-hidden="true")
  .lightbox-content
    img.img-polaroid(src=(object.fullImage.pump_io && object.fullImage.pump_io.proxyURL) ? object.fullImage.pump_io.proxyURL : object.fullImage.url)
    if object.displayName
      .lightbox-caption
        p= object.displayName
    else if  object.content
      .lightbox-caption
        p!= object.content
