<ul class="nav nav-tabs nav-stacked" id="list-menu-inner" profile-id="<%- profile.id %>">
  <% _.each(lists.items, function(list) { %>
  <%= partial("list-menu-item", {listItem: list}) %>
  <% }); %>
  <% if (principal && principal.id == profile.id) { %>
  <li class="add-a-list">
    <a href="#" class="new-list">New list...</a>
  </li>
  <% } %>
</ul>
