<div class="user user-list">
  <div class="row">
    <div class="span12">
      <%= partial("profile-block") %>
    </div>
  </div>
  <div class="row">
    <div class="span12">
      <%= partial("profile-nav") %>
    </div>
  </div>
  <div class="row">
    <div class="span12" id="user-content">
      <%= partial("user-content-list") %>
    </div>
  </div>
</div>
