#list-content-list
  .row-fluid
    .span9
      h3!= list.displayName
      if list.content
        p!= list.content

      #list-members
        - var people = members;
        include ./member-stream

    .span3
      if principal && principal.id === profile.id
        p
          button.btn#add-list-member Add a member
        p
          button.btn#delete-list Delete list
