#loginpage
  form.form-horizontal#login(method="post", action="/main/javascript-disabled")
    legend Login to your account
    .control-group#nickname-group
      label.control-label(for="nickname") Nickname
      .controls
        input#nickname(type="text", name="nickname", size="16")

    .control-group#password-group
      label.control-label(for="password") Password
      .controls
        input#password(type="password", name="password", size="16")
        if config.haveEmail
          | &nbsp;
          a(href="/main/recover") Forgot your password?

    .control-group
      .controls
        button.btn.btn-primary(type="submit", disabled="disabled") Login
  
  if config.disableRegistration
    p.text-warning Registrations disabled for new users.
  else
    p
      a.add-continue(href="/main/register") New user?
  
  p
    a.add-continue(href="/main/remote") Account on another server?
