<!DOCTYPE html>
<html lang="en" class="no-js">
  <head>
    <meta charset="utf-8">
    <title>ActivityPump</title>
    <meta name="description" content="">
    <meta name="author" content="">

    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <link href="/stylesheet/bootstrap.css" rel="stylesheet">
    <link href="/stylesheet/activitypump.css" rel="stylesheet">

    <script src="/javascript/modernizr-latest.js"></script>

  </head>

  <body>

    <div class="topbar">
      <div class="fill">
        <div class="container" id="topnav">
          <%= nav %>
        </div>
      </div>
    </div>

    <div class="container">

      <div class="content">
        <div class="page-header" id="header">
          <%= header %>
        </div>
        <div class="row">
          <div class="span10" id="content">
            <%= content %>
          </div>
          <div class="span4" id="sidebar">
            <%= sidebar %>
          </div>
        </div>
      </div>

      <footer>
        <p>&copy; Company 2011</p>
      </footer>

    </div> <!-- /container -->

    <script defer src="/javascript/jquery-1.7.1.min.js"></script>
    <script defer src="/javascript/underscore-min.js"></script>
    <script defer src="/javascript/backbone.js"></script>
    <script defer src="/javascript/activitypump.js"></script>
    <script defer src="/javascript/libs/bootstrap-modal.js"></script>
    <script defer src="/javascript/libs/bootstrap-tabs.js"></script>

  </body>
</html>
