<!DOCTYPE html>
<html lang="en" class="no-js">
  <head>
    <meta charset="utf-8">
    <title>ActivityPump</title>
    <meta name="description" content="">
    <meta name="author" content="">

    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <link href="/stylesheet/bootstrap.css" rel="stylesheet">
    <link href="/stylesheet/activitypump.css" rel="stylesheet">

    <!-- Le fav and touch icons -->
    <link rel="shortcut icon" href="images/favicon.ico">
    <link rel="apple-touch-icon" href="images/apple-touch-icon.png">
    <link rel="apple-touch-icon" sizes="72x72" href="images/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="images/apple-touch-icon-114x114.png">

    <script src="/javascript/modernizr-latest.js"></script>

  </head>

  <body>

    <div class="topbar">
      <div class="fill">
        <div class="container">
          <%= nav %>
        </div>
      </div>
    </div>

    <div class="container">

      <div class="content">
        <div class="page-header">
          <%= header %>
        </div>
        <div class="row">
          <div class="span10">
            <%= content %>
          </div>
          <div class="span4">
            <%= sidebar %>
          </div>
        </div>
      </div>

      <footer>
        <p>&copy; Company 2011</p>
      </footer>

    </div> <!-- /container -->

    <script defer src="/javascript/underscore-min.js"></script>
    <script defer src="/javascript/backbone-min.js"></script>
    <script defer src="/javascript/jquery-1.7.1.min.js"></script>

  </body>
</html>
