#main

  .hero-unit

    .row

      .span6

        h1= config.site

        p This site runs #[a(href="http://pump.io/") pump.io], the high-performance Open Source social engine. It pumps your life in and out of your friends, family and colleagues.

        if config.disableRegistration

          p
            | (No pump.io account yet? 
            a(href="http://pump.io/tryit") Try it
            | !)

        else

          p
            a.btn.primary.large(href="/main/register") Get Started &raquo;

      .span4.pull-center
        if config.mainImage
          img.img-rounded(src=config.mainImage)

        div
          p
            | Check out the 
            a(href="https://pumpio.readthedocs.org/en/latest/userguide.html" target="_blank") basic user guide
            | .
