<li class="media person major member" data-person-id="<%- person.id %>">
  <a class="pull-left" href="<%- person.url %>">
    <% if (person.image && person.image.url) { %>
    <img src="<%- person.image.url %>" width="64" height="64" class="img-rounded media-object" />
    <% } else { %>
    <img src="/images/default.png" width="64" height="64" class="img-rounded media-object" />
    <% } %>
  </a>
  <div class="media-body">
    <% if (principal && principal.id == list.author.id) { %>
    <button type="button" class="close" id="remove-person" data-title="Remove <%- person.displayName %> from <%- list.displayName %>">&times;</button>
    <% } %>
    <h4 class="media-heading"><a href="<%- person.url %>"><%- person.displayName %></a>
      <small>
        <% if (person.id && person.id.substr(0, 5) == 'acct:') { %>
        <%- person.id.substr(5) %>
        <% } else { %>
        <%- person.preferredUsername %>
        <% } %>
      </small>
    </h4>
    <% if (person.location) { %>
    <p class="location"><%- person.location.displayName %></p>
    <% } %>
    <% if (person.summary) { %>
    <p class="summary"><%- person.summary %></p>
    <% } %>
  </div>
</li>
