<li class="media activity minor <% if (headless) { %>headless<% } %>" data-activity-id="<%- activity.id %>">
  <% if (!headless) { %>
  <a class="pull-left" href="<%- activity.actor.url %>">
    <% if (activity.actor.image && activity.actor.image.url) { %>
    <img src="<%- (activity.actor.image.pump_io && activity.actor.image.pump_io.proxyURL) ? activity.actor.image.pump_io.proxyURL : activity.actor.image.url %>" width="32" height="32" class="img-rounded media-object" />
    <% } else { %>
    <img src="/images/default.png" width="32" height="32" class="img-rounded media-object" />
    <% } %>
  </a>
  <% } %>
  <div class="media-body muted">
    <small><%= activity.content %></small>
  </div>
</li>
