<a class="brand" href="#">ActivityPump</a>
<ul class="nav">
    <li class="active"><a href="#">Home</a></li>
    <li><a href="#about">About</a></li>
    <li><a href="#settings">Settings</a></li>
</ul>
<form action="" class="pull-right">
    <input class="input-small" type="text" placeholder="Username">
    <input class="input-small" type="password" placeholder="Password">
    <button class="btn" type="submit">Sign in</button>
</form>
