.container

  a.btn.btn-navbar(data-toggle="collapse", data-target=".nav-collapse", href="#")
    span.fa.fa-bars
  
  a.brand(href="/")= config.site
  
  if !config.noweb
    .nav-collapse.collapse
      ul.nav.pull-right
        unless config.disableRegistration
          li
            a#register(href="/main/register") Register
        li
          a#login(href="/main/login") Login
