<a class="brand" href="/">ActivityPump</a>
<ul class="nav">
    <li class="active"><a href="/">Home</a></li>
    <li><a href="/help/about">About</a></li>
</ul>
<form id="login" action="" class="pull-right">
    <input class="input-small" type="text" name="nickname" placeholder="Username">
    <input class="input-small" type="password" name="password" placeholder="Password">
    <button class="btn" type="submit">Sign in</button>
</form>
