.container

  a.btn.btn-navbar(data-toggle="collapse", data-target=".nav-collapse", href="#")
    span.fa.fa-bars

  a.brand(href="/")= config.site

  ul.nav.pull-right
    li#fat-menu.dropdown
      a.dropdown-toggle#profile-dropdown(href="#", role="button", data-toggle="dropdown")
        if _(principal).has("image")
          img.pull-left#img-rounded(src=principal.image.url, width="24", height="24")
          | &nbsp;
        | #{principal.displayName}
        b.caret
      ul.dropdown-menu(role="menu", aria-labelledby="profile-dropdown")
        li
          a#logout(tabindex="-1", href="#") Log out
