<div class="media" id="profile-block" data-profile-id="<%- profile.id %>">
  <span class="pull-left">
    <% if (profile.image && profile.image.url) { %>
    <img src="<%- profile.image.url %>" width="128" height="128" class="img-rounded media-object" />
    <% } else { %>
    <img src="/images/default.png" width="128" height="128" class="img-rounded media-object" />
    <% } %>
  </span>
  <div class="media-body">
  <div class="pull-right">
    <%= partial("profile-responses", {person: profile}) %>
  </div>
    <h1 class="media-header"><%- profile.displayName %> 
      <small>
        <% if (profile.id && profile.id.substr(0, 5) == 'acct:') { %>
        <%- profile.id.substr(5) %>
        <% } else { %>
        <%- profile.preferredUsername %>
        <% } %>
      </small>
    </h1>
    <% if (profile.location) { %>
    <p class="location"><%- profile.location.displayName %></p>
    <% } %>
    <% if (profile.summary) { %>
    <p class="summary"><%- profile.summary %></p>
    <% } %>
    <% /* TODO: HOME PAGE HERE */ %>
  </div>
</div>

