h1 Someone has requested a new password for #{principalUser.nickname} on #{config.site}.

p To complete the password recovery, click on the following URL.

blockquote
  a(href=recoveryURL)= recoveryURL

p If you think you received this email in error, you can safely ignore it.
