<div class="media reply" data-activity-id="<%- reply.id %>">
  <a class="pull-left" href="#">
    <% if (reply.author.image && reply.author.image.url) { %>
    <img src="<%- (reply.author.image.pump_io && reply.author.image.pump_io.proxyURL) ? reply.author.image.pump_io.proxyURL : reply.author.image.url %>" width="32" height="32" class="img-rounded media-object" />
    <% } else { %>
    <img src="/images/default.png" width="32" height="32" class="img-rounded media-object" />
    <% } %>
  </a>
  <div class="media-body">
    <%= reply.content %>
    <p><small><a href="<%- reply.author.url %>"><%- reply.author.displayName %></a> at <a href="<%- reply.url %>"><abbr title="<%- reply.published %>" class="easydate"><%- reply.published %></abbr></a><% if (reply.location) { %> in <a href="<%- reply.location.url %>"><%- reply.location.displayName %></a><% } %></small></p>

    <% if (principal) { %>
    <div class="responses">
    <% if (reply.liked) { %>
    <a class="unfavorite" href="#">Unlike <i class="icon-thumbs-down"></i></a>
    <% } else { %>
    <a class="favorite" href="#">Like <i class="icon-thumbs-up"></i></a>
    <% } %>
    </div>
    <% } %>
    <% if (!reply.likes || reply.likes.totalItems === 0) { %>
    <% } else if (reply.likes.totalItems === 1) { %>
    <p class="muted"><small><%= partial("activity-object-collection", {author: reply.author, coll: reply.likes}) %> likes this.</small></p>
    <% } else { %>
    <p class="muted"><small><%= partial("activity-object-collection", {author: reply.author, coll: reply.likes}) %> like this.</small></p>
    <% } %>

  </div>
</div>
