.user.user-activities
  .row
    .span12
      include ./profile-block.pug
  .row
    .span12
      include ./lib/profile-nav.pug
  .row
    .span12#user-content
      include ./user-content-activities.pug
