<div class="row activities user-content" id="user-content-activities">
  <div class="span9">
    <%= partial("major-stream", {headless: true}) %>
  </div>
  <div class="span3" id="sidebar">
    <h3>Meanwhile...</h3>
    <%= partial("minor-stream", {headless: true}) %>
  </div>
</div>
