extends layout.jade

block body

  #javascript-disabled-error
  p Javascript is disabled in your browser.

  p.
    pump.io&apos;s Web UI is a rich HTML5 Web application. It uses client-side
    Javascript to provide most of the user interface. Without Javascript enabled,
    the pump.io interface will not work.

  p.
    If you don&apos;t want to use the Web app that comes with pump.io, you can
    try one of the great #[a(href="https://github.com/pump-io/pump.io/wiki/Clients") clients]
    that use the pump.io API to provide similar functionality.
