.responses

  //- Like/unlike button

  if obj.liked
    a.unfavorite(href="#") Unlike 
      i.fa.fa-thumbs-o-down
  else
    a.favorite(href="#") Like 
      i.fa.fa-thumbs-o-up

  //- Comment button

  a.comment(href="#") Comment 
    i.fa.fa-comment

  //- Share/unshare button

  if obj.pump_io && obj.pump_io.shared
    a.unshare(href="#") Unshare 
      i.fa.fa-times
  else
    a.share(href="#") Share 
      i.fa.fa-share
