p.
  Welcome to #[a(href=service.url)= service.displayName]!
  Now that you&apos;re registered, here are a few tips for enjoying yourself fully.

ul
  li You should modify your #[a(href=`${service.url}main/settings`) profile] to let people know more about you.
    if config.canUpload
      |  Don't forget to upload an avatar!

  li
    | Your account id is 
    strong= (profile.id && profile.id.slice(0, 5) === 'acct:') ? profile.id.slice(5) : profile.id
    | . You can use it with 
    a(href="https://pumpio.readthedocs.org/en/latest/clients.html") pump.io-enabled applications
    | .

p
  | This message will stay in your inbox so you can refer back. Check out the 
  a(href="https://pumpio.readthedocs.org/en/latest/userguide.html", target="_blank") basic user guide
  | , too. Enjoy yourself and have fun.
