extends layout.jade

block body
  p You need to upgrade your browser to fix security problems - or even better, switch to another one like #[a(href="https://firefox.com") Firefox] or #[a(href="https://google.com/chrome/browser/") Chrome]. You can consider using a #[a(href="https://github.com/pump-io/pump.io/wiki/Clients") client], but the best course of action is to upgrade.
  p This is happening because your browser is outdated and a malicious post can trick it into giving an attacker your private information, including access to your pump.io account and messages. Because of this, pump.io is refusing to show any content.
  p For your protection, this error cannot be overridden or disabled. Sorry about that.
